body
{
  color: white;
  background: linear-gradient(aqua 10%, pink 60%);
}
h1
{
  width: 80%;
  font-size: 22px;
  background-color: seagreen;
  padding:10px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px yellow;
  font-family: 'Cinzel Decorative', cursive;
  letter-spacing: 4px;
}
canvas
{
  border: 2px solid black;
  margin-top: 150px;
}
.objectsNames, #result_object_name  , #result_object_accuracy
{
  color: blue;
}

p{
  color: red;
  font-size: 22px;
  line-height: 0.5;
}
label{
  font-size: 18px;
  background-color: black;
  padding:8px;
  border-radius: 10px;
}

button{
  font-size: 18px;
  background-color: lightgreen;
  padding:8px;
  border-radius: 10px;
}